{%extends 'blog/basic.html'%}{%block body %}
<div class="section mt-5">
  <div class="row my-2 mx-2">
    {%for blog in blogs_content%}
    <div class="col-md-6">
      <div
        class="row border mx-1 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-body-secondary">{{blog.pub_date}}</div>
          <p class="card-text mb-auto">
            {{blog.head1}}
          </p>
          <a href="/blog/blogpost/{{blog.Post_id}}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading

          </a>
        </div>
        <div class="col-auto my-2">
          <img
           style="height:300px;width:350px"
            src="/media/{{blog.thumbnail}}"
          >
          </img>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2%}
    </div>
    <div class="row my-2 mx-2">
      {%endif%}
      {%endfor%}
    </div>
  </div>
{%endblock%}
