{% extends 'shop/basic.html' %} {%block title%} Title of about {% endblock%}
{%block body%}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p>
        my awesome cart is an online platform that facilitates buying and
        selling of products and services over the Internet. It provides a
        virtual marketplace where businesses showcase their offerings, and
        consumers browse, select, and purchase items with ease. These websites
        offer a convenient and accessible shopping experience, allowing users to
        explore a diverse range of products, compare prices, and read reviews.
        Secure payment gateways ensure transactions are safe, and streamlined
        checkout processes enhance user satisfaction. With features like
        personalized recommendations and efficient order tracking, eCommerce
        websites revolutionize the way people shop, fostering global
        connectivity and transforming traditional retail into a digital,
        user-centric marketplace.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button"
          >Learn more &raquo;</a
        >
      </p>
    </div>
  </div>

  <div class="container text-light">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus. Etiam porta sem malesuada magna mollis
          euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
          tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus. Etiam porta sem malesuada magna mollis
          euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
          dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
          fermentum massa justo sit amet risus.
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
    </div>

    <hr />
  </div>
  <!-- /container -->
</main>
{% endblock %}
