{% extends 'shop/basic.html' %} {%block title%}{{prod.product_name}}
{%endblock%} {%block body%}
<section class="ftco-section text-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center my-5">
        <h2 class="heading-section">Contact Form</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row no-gutters mb-5">
            <div class="col-md-7">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4">Contact Us</h3>
                <form
                  method="post"
                  id="contactForm"
                  name="contactForm"
                  class="contactForm"
                  action="/shop/contact/"
                >
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="name">Full Name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          id="name"
                          placeholder="Name"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="email">Email Address</label>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          placeholder="Email"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="subject">Phone</label>
                        <input
                          type="tel"
                          class="form-control"
                          name="phone"
                          id="phone"
                          placeholder="phone"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="#">Message</label>
                        <textarea
                          name="message"
                          class="form-control"
                          id="message"
                          cols="30"
                          rows="4"
                          placeholder="Message"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="submit"
                          value="Send Message"
                          class="btn btn-primary"
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 d-flex align-items-stretch">
              <div id="map"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-map-marker"></span>
                </div>
                <div class="text">
                  <p>
                    <span>Address:</span> 198 West 21th Street, Suite 721 New
                    York NY 10016
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-phone"></span>
                </div>
                <div class="text">
                  <p>
                    <span>Phone:</span>
                    <a href="tel://1234567920">+ 1235 2355 98</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text">
                  <p>
                    <span>Email:</span>
                    <a
                      href="/cdn-cgi/l/email-protection#5831363e371821372d2a2b312c3d763b3735"
                      ><span
                        class="__cf_email__"
                        data-cfemail="d2bbbcb4bd92abbda7a0a1bba6b7fcb1bdbf"
                        >[email&#160;protected]</span
                      ></a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <span class="fa fa-globe"></span>
                </div>
                <div class="text">
                  <p><span>Website</span> <a href="#">yoursite.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="thankValue" data-thank="{{ thank }}"></div>
</section>
{%endblock%} {%block js%}
<script>
  var thankValue = document
    .getElementById("thankValue")
    .getAttribute("data-thank");

  if (thankValue === "True") {
    alert("Thank you. Your form has been submitted...");
  }
</script>
{%endblock%}
